@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-@ViewBag.Type alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.Message
    </div>
}

<div>
    @*<div class="text-center">
            <h1 class="dropdown">CMS APLICAÇÕES MÓVEIS</h1>
        </div>*@
    <div>
        <div class="banner-imagem">
            <div class="banner-text">
                <div style="font-size: 2rem; -webkit-text-stroke: 0.5px black; color: #ffa63a;" class="font-weight-light">Criar um catálogo mobile</div>
                <div style="font-size: 3rem;"><b>nunca foi tão fácil</b></div>
            </div>
        </div><br /><br /><br />

        <div class="grid-container">
            <div class="grid-item">
                <b>1º Passo</b>
                <p>Registar-se</p>
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
            <div class="grid-item">
                <b>2º Passo</b>
                <p>Criar o seu layout</p>
                <i class="fa fa-desktop" aria-hidden="true"></i>
            </div>
            <div class="grid-item">
                <b>3º Passo</b>
                <p>Visualizar na app</p>
                <i class="fa fa-mobile" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>



