@model Projeto_CMS_BackOffice.Models.ViewModels.RecuperarPasswordViewModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "RecuperarPassword";
}

<h1>Recuperar Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RecuperarPassword">
            <input type="hidden" name="Token" value="@Context.Request.Query["token"].ToString()" />
            <input type="hidden" name="Email" value="@Context.Request.Query["email"].ToString()" />
            <div class="form-group">
                <label class="control-label">Nova Password</label>
                <input id="password1" asp-for="NewPassword" type="password" class="form-control" />
                <i class="bi bi-eye-slash" id="1" style="position:relative; margin-left: 90%; top:-30px; cursor:pointer;" onclick="showPassword(this.id)"></i>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmar Password</label>
                <input id="password2" asp-for="ConfirmNewPassword" type="password" class="form-control" />
                <i class="bi bi-eye-slash" id="2" style="position:relative; margin-left: 90%; top:-30px; cursor:pointer;" onclick="showPassword(this.id)"></i>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Recuperar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-info" asp-action="Index" asp-controller="Home">Voltar</a>
</div>

@section Scripts {
    <script>
        function showPassword(id) {
            var button = document.getElementById(id);
            var x = document.getElementById("password" + id);
            if (x.type === "password") {
                x.type = "text";
                button.classList.add("bi-eye");
            } else {
                x.type = "password";
                button.classList.remove("bi-eye");
            }
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

